.container {
  width: 100%;
  height: 200px;
  border: solid 20px red;
}
.child {
  width: 100%;
  height: 160px;
  border: solid 20px green;
}
.inner {
  width: 100%;
  height: 120px;
  border: solid 20px yellow;
}
